.admin-panel-layout {
  display: grid;
  grid-template-columns: 260px 1fr; /* Zwiększamy lekko szerokość menu */
  gap: 30px;
  align-items: flex-start;
}
.admin-content {
  width: 100%;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar li {
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  margin-bottom: 5px;
  transition: background-color 0.2s, color 0.2s, transform 0.2s ease;

  /* -> NOWE STYLE: Ustawiamy elementy w rzędzie i wyrównujemy */
  display: flex;
  align-items: center;
  gap: 15px; /* Odstęp między ikoną a tekstem */
}

.admin-sidebar li:hover {
  background-color: #f0f0f0;
  transform: translateX(5px);
}

.admin-sidebar li.active {
  background-color: #4c7766;
  color: white;
  font-weight: bold;
  transform: translateX(0);
}

/* -> NOWE STYLE: Nadajemy stałą szerokość ikonom dla równego ułożenia */
.admin-sidebar li i {
  width: 20px; /* Stała szerokość kontenera ikony */
  text-align: center; /* Wyśrodkowanie ikony w jej kontenerze */
  font-size: 1.1rem; /* Rozmiar samej ikony */
}
.mobile-button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 16px;
  width: 100%;
}
.management-table th,
.management-table td {
  white-space: nowrap;
  padding: 10px 15px;
}

.mobile-button-grid button {
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  border: none;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, color 0.2s, transform 0.2s ease;
  font-size: 1rem;
}

.mobile-button-grid button:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.mobile-button-grid button.active {
  background-color: #4c7766;
  color: white;
  font-weight: bold;
}

.mobile-button-grid button i {
  width: 20px;
  text-align: center;
  font-size: 1.1rem;
}
.mobile-button-grid button:nth-child(5) {
  grid-column: span 2;
}
@media (max-width: 1189px) {
  .admin-panel-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .mobile-button-grid {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .mobile-button-grid button {
    justify-content: center;
  }
  .management-title{
    font-size: 1.2rem;
  }
}
