.contact-form-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-form-center input{
    width: 17.375rem;
}
.contact-form-textarea{
    width: 45rem;
}